<div class="ui visible inverted borderless sidebar vertical menu">
  <div class="ui item">
    <img src="../../../assets/spotify.png" style="vertical-align: bottom;">
    <h1 style="display: inline-block; margin-top: 3vh;">Spotify<small style="vertical-align: top;">&reg;</small></h1>
  </div>
  <a class="item" routerLink="/home" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <h4 routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="home icon"></i><strong >Home</strong></h4>
  </a>
  <a class="item" routerLink="/search" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <h4 routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="search icon"></i><strong >Search</strong></h4>
  </a>
  <a class="item" routerLink="/about" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <h4 routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><i class="paper plane outline icon"></i><strong>About</strong></h4>
  </a>
</div>
