<div class="wrapper">
  <div class="ui grid" style="justify-content: left;">
    <div class="three wide column"></div>
    <div class="thirteen wide column">
      <div class="segment">
        <img src="../../../assets/music.png" class="ui circular image">
        <h1>Deepak Mahajan</h1>
        <div class="ui inverted divider"></div>
      </div>
      <div class="detail-segment">
        <p>Hello, everyone I have developed this Spotify Clone Web Application.
          I am pursuing my Btech degree in Computer Science Engineering.
          I hope you like it. Thanks <i class="thumbs up icon"></i> </p>
        <h4>Github Projects Link:<a href="http://www.github.com/deepakMaj">www.github.com/deepakMaj</a></h4>
      </div>
    </div>
  </div>
</div>